{{ define "title" }}{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}{{ end }}

{{ define "main" }}
<div class="row bg-white">
  <div class="column col-1">
    <article class="center bg-white br-3 pv1 ph4 lh-copy f5 nested-links mw7">
      {{- partial "custom-content.html" .Content -}}
      <!-- Tags -->
      <div class="row">
        <div class="col-md-8">
        {{ if .Params.tags }}
          <div class="mb-5">
            {{ partial "tags.html" . }}
          </div>
        {{ end }}
        </div>
      </div>
      <!-- /.Tags -->
      <!-- Disqus -->
      {{- if .Params.comments -}}
        {{- template "_internal/disqus.html" . -}}
      {{- end -}}
      <!-- /.Disqus -->
    </article>
  </div>
  {{- if .Params.toc -}}
  <div id="toc" class="column col-2">
    {{- partial "toc.html" . -}}
  </div>
  {{- end -}}
</div>
{{ end }}

{{ define "social" }}
		<meta name="og:title" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta name="og:type" content="article" />
		<meta name="og:image" content="{{ default "img/default-header-img.jpg" .Params.image | absURL }}" />
		<meta name="og:description" content="{{ .Description | markdownify }}" />
		<meta name="og:url" content="{{ .Permalink }}" />
		<meta name="og:site_name" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
{{ end }}
