{{ define "main" }}
  <main class="mt0">
    <!-- <div class="container"> -->
    <div class="row">
      <!-- Post list -->
      <!-- <div class="content"> -->
      <div class="center bg-white br-3 pv1 pr4 lh-copy f5 nested-links mw7">
        <ul>
          {{ if .Content }}
            <div class="post-content markdown">
              {{ .Content }}
            </div>
          {{ end }}
        </ul>
        <ul>

          {{ range .Data.Terms.Alphabetical }}
            <li class="post-item">
              <a href="{{ .Name | urlize }}"><span>{{ .Name }}</span></a>
              <span class="ml-1">({{ .Count }})</span>
            </li>

          {{ end }}
        </ul>
      </div>
      <!-- /.Post list -->
    </div>
  </main>
{{ end }}
