{{/* headline hash */}}
<script src="https://code.iconify.design/1/1.0.0-rc6/iconify.min.js"></script>
{{ $tmp := . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}&nbsp;<a class="headline-hash smoothScroll hover-show" style="font-size: 1.0rem; color: black;" href="#${2}"><span class="iconify" data-icon="octicon-link" data-inline="false"></span></a> ${3}` | safeHTML }}

{{/* google drive image */}}
{{/*
  ${1}: original element
  ${2}: open link
  ${3}: id
  ${4}: title
*/}}
{{ $gphoto := `(<img src="(https://drive.google.com/open.+id=([^\"]+))".+alt="google-([^\"]+)" />)` }}
{{ $newgphoto := `
  <figure class="gphoto-media">
    <a href="${2}" target="_blank">
      <img src="https://drive.google.com/uc?export=view&id=${3}" alt="${4}" title="Open in the new tab"></img>
    </a>
    <figcaption>
      <center class="caption-text">${4}</center>
    </figcaption>
  </figure>
` }}
{{ $tmp := $tmp | replaceRE $gphoto $newgphoto | safeHTML }}

{{/* put costom content */}}
{{- $tmp -}}
