<div>
  <a class='goto' id='gotop'>Back to top</a>
</div>
<div>
  <a class='goto' id='gobottom'>Go to bottom</a>
</div>
<script type='text/javascript'>
  // https://stackoverflow.com/a/12714767/6734174
var url = "https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/2.2.0/jquery.smooth-scroll.min.js";
$.getScript( url, function() {
  $("#gotop").click(function(event){
    $('html,body').animate({scrollTop:0}, 300,'swing', function() {
      $('a.toc-link').removeClass('active');
    });
  });
  $("#gobottom").click(function(event){
    $('html,body').animate({scrollTop:$(document).height()}, 300,'swing', function() {
      $('a.toc-link').removeClass('active');
    });
  });
});
</script>
