{{ define "main" }}
<main class="post-main-wrapper px-5">
  <!-- <div class="container"> -->
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 side-bar">
      {{ partial "sidebar-categories.html" . }}
      {{ partial "sidebar-tags.html" . }}
      {{ partial "sidebar-series.html" . }}
    </div>

    <div class="col-md-9 pa3 w-100 w-70-ns center">
      <section class="w-100 mw8">
      {{ $pages := where .Paginator.Pages ".Params.skip" "ne" "true" }}
      {{ range where (where $pages ".Date.Unix" "<" now.Unix) "Section" "ne" "slides" }}
        {{ partial "story-li.html" . }}
      {{ end }}
      </section>
    </div>
  </div>
{{ end }}

{{ define "pagination" }}
<footer class="w-100 sans-serif" role="contentinfo">
  <nav class="w-third-l pb3 f6 center db" role="navigation">
    {{- template "_internal/pagination.html" . -}}
  </nav>
</footer>
{{ end }}
